<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h1>Login</h1>
    username: <input type="text" id="username">
    password: <input type="text" id="password">
    <button id="loginbtn">Login</button>
    <button id="logoutbtn" style="background-color: red; color: white;">Logout</button>
    <script src="/static/login.js"></script>
</body>
</html>